/* Variables */
:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --custom-color: #e7e9fc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body style */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffff;
}

/* Reset style */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Address */
.address {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}

/* Utils style  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Phones screen */
.container {
  max-width: 426px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Tablets screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
}

/* Desktop screen */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* hero section */

.hero-section {
  max-width: 428px;
  padding: 112px 0;
  margin: 0 auto;
  text-align: center;

  background: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Phones.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 320px;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

button {
  font-family: inherit;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--iris);
  display: block;
  margin: 0 auto;
  border: none;
  text-align: center;
  min-width: 169px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

.order-servise {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  min-width: 169px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient
        (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/Tablets.jpg);
  }

  .hero-title {
    max-width: 496px;
    margin: 0 auto 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/office.jpg);
  }

  .hero-title {
    margin: 0 auto 48px;
  }
}

/* benefits section */

.benefits {
  padding: 96px 0;
}

@media only screen and (min-width: 1440px) {
  .benefits {
    padding: 120px 0;
  }
}

@media only screen and (min-width: 768px) {
  .advan-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1440px) {
  .advan-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.advan-list_item {
  padding-bottom: 72px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .advan-list_item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .advan-list_item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.benefits-list-subtitle {
  font-size: 36px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .benefits-list-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1440px) {
  .benefits-list-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }
}

.benefits-list-desc {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  min-width: 100%;
}

@media only screen and (min-width: 1440px) {
  .benefits-list-desc {
    font-size: 16px;
    font-weight: 400;
  }
}

.benefits-icons-box {
  display: none;
  position: relative;
  border-radius: 4px;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1440px) {
  .benefits-icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
