/* Variables */
:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --custom-color: #e7e9fc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body style */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffff;
}

/* Reset style */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Address */
.address {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.32px;
}

/* Utils style  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Phones screen */
.container {
  max-width: 426px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Tablets screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .customers .container {
    max-width: 582px;
  }
}

/* Desktop screen */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .customers .container {
    max-width: 1158px;
  }
}

/* header section */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767.98px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 1158px) {
  .header-flex .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 120px;
}

@media only screen and (min-width: 1158px) {
  .nav {
    gap: 76px;
  }
}

.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}

.link {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.studio-color {
  color: var(--navyblue);
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #404bbf;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-link.current::after {
  background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
}

.address-items {
  display: flex;
  justify-content: end;
  gap: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 767.98px) {
  .address-items {
    display: none;
  }
}

@media only screen and (max-width: 1158px) {
  .address-items {
    flex-direction: column;
  }
}

.address-link {
  justify-content: end;
  gap: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* hero section */

.hero-section {
  max-width: 428px;
  padding: 112px 0;
  margin: 0 auto;
  text-align: center;

  background: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Phones.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 320px;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--iris);
  display: block;
  margin: 0 auto;
  border: none;
  text-align: center;
  min-width: 169px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  border-radius: 4px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

.order-servise {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  min-width: 169px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient
        (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/Tablets.jpg);
  }

  .hero-title {
    max-width: 496px;
    margin: 0 auto 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/office.jpg);
  }

  .hero-title {
    margin: 0 auto 48px;
  }
}

/* benefits section */

.benefits {
  padding: 96px 0;
}

@media only screen and (min-width: 1440px) {
  .benefits {
    padding: 120px 0;
  }
}

@media only screen and (min-width: 768px) {
  .advan-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1158px) {
  .advan-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.advan-list_item {
  width: 100%;
}

@media only screen and (max-width: 767.98px) {
  .advan-list_item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .advan-list_item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .advan-list_item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.benefits-list-subtitle {
  font-size: 36px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .benefits-list-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .benefits-list-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }
}

.benefits-list-desc {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  min-width: 100%;
}

@media only screen and (min-width: 1158px) {
  .benefits-list-desc {
    font-size: 16px;
    font-weight: 400;
  }
}

.benefits-icons-box {
  display: none;
  position: relative;
  border-radius: 4px;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1440px) {
  .benefits-icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* doing section */

.doing-section {
  display: none;
  background: #fff;
  padding: 120px;
}

@media only screen and (min-width: 1158px) {
  .doing-section {
    display: block;
  }
}

.doing-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.doing-foto {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.doing-list {
  display: flex;
  gap: 24px;
}

.doing-list-img {
  border: var(--cornflower);
  background: lightgray;
}

/* team section */

.team-seaction {
  background: var(--cloud);
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .team-seaction {
    padding: 120px 0;
  }
}

.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    flex-basis: calc((100%-48px) / 4);
  }
}

.team-list-item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  background: var(--white);
  width: 264px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767.98px) {
  .team-list-item:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .team-list-item {
    margin-bottom: 64px;
    margin-left: 0;
    margin-right: 0;
  }
}

.team-content {
  padding: 32px 0;
}

.team-list-subtitle {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list-desc {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-sm-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 24px;
}

.team-sm-icons-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sm-icons-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris);
  padding: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sm-icons-link:hover,
.team-sm-icons-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sm-icons-logo {
  fill: #f4f4fd;
}

.team-sm-icons-logo:hover,
.team-sm-icons-logo:focus {
  fill: var(--iris);
}

/* Customers */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.customers-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  padding: 0;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
  list-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.customers-list-item {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 16px) / 2);
  height: 88px;
}

@media only screen and (min-width: 768px) {
  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .customers-list-item {
    width: calc((100% - 120px) / 6);
  }
}

.customers-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  color: #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 250ms;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-list-logo {
  fill: currentColor;
  transition: 250ms;
  width: 110px;
}

.customers-list-logo:hover,
.customers-list-logo:focus {
  fill: #404bbf;
}

@media only screen and (min-width: 768px) {
  .customers-list-logo {
    width: 104px;
  }
}
/* Footer */

.footer-section {
  background: #2e2f42;
  padding: 96px 0;
  display: block;
  margin: 0 auto;
  justify-content: center;
}

@media only screen and (min-width: 1158px) {
  .footer-section {
    padding: 100px 0;
    justify-content: flex-start;
  }
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    gap: 72px 24px;
    align-items: baseline;
    max-width: 582px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    align-items: baseline;
    max-width: 1158px;
    flex-wrap: nowrap;
    gap: 0;
  }
}

.webstudio-container {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .webstudio-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1158px) {
  .webstudio-container {
    margin-right: 120px;
    margin: 0;
  }
}

.footer-section .logo {
  margin-bottom: 17.5px;
  display: inline-block;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
}

@media only screen and (max-width: 767.8px) {
  .footer-section .logo {
    margin-left: 75px;
    margin-right: 76px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-section .logo {
    display: inline-block;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-section .logo {
    margin-bottom: 16px;
  }
}

.footer-text {
  color: var(--cloud);
}

.footer-desc {
  color: var(--cloud);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 268px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  text-align: left;
}

@media only screen and (max-width: 767.98px) {
  .footer-desc {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-desc {
    margin: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-desc {
    width: 264px;
    margin-right: 120px;
  }
}

.socialmedia-container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .socialmedia-container {
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1158px) {
  .socialmedia-container {
    margin-right: 80px;
  }
}
.footer-sm-title {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (max-width: 767.8px) {
  .footer-sm-title {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-socialmedias {
  display: flex;
  gap: 16px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.footer-socialmedia-item {
  width: 40px;
  height: 40px;
}

.footer-sm-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm-link:hover,
.footer-sm-link:focus {
  background-color: #31d0aa;
}

.footer-socialmedia-logo {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Subscribe */

@media only screen and (max-width: 767.8px) {
  .footer-subscribe {
    display: flex;
    flex-direction: column;
    min-width: 100%;

    margin-top: 72px;
  }
}

.footer-subscribe-text {
  color: var(--white);
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  display: flex;
}

@media only screen and (max-width: 767.2px) {
  .footer-subscribe-text {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .footer-subscribe-text {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
}

.footer-subscribe-form {
  display: flex;
  border-radius: 4px;
  align-items: center;
  margin-top: 40;
}

@media only screen and (max-width: 767.98px) {
  .footer-subscribe-form {
    row-gap: 16px;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .footer-subscribe-form {
    align-items: baseline;
  }
}

.footer-form-label {
  width: 100%;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  text-align: auto;
  transition: border-color var(--ocean);
}

@media only screen and (max-width: 767.98px) {
  .footer-form-input {
    width: 100%;
  }
}

.footer-form-input:focus {
  border-color: var(--ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--iris);
  color: var(--white);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  min-width: 165px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .subscribe-button {
    margin-left: 24px;
  }
}

.subscribe-button-img {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 16px;
}

/* Mobile menu */
.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding: 40px;
  background: var(--WHITE, #fff);
  z-index: 999;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 8px;
  right: 8px;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-link:hover:active {
  color: var(--OCEAN);
}

@media (hover: hover) {
  .mobile-menu-link:hover:hover,
  .mobile-menu-link:hover:focus {
    color: var(--OCEAN);
  }
}

.mobile-menu-link.current {
  color: var(--OCEAN);
}

/* Address-mobile */
.mobile-address-items {
  margin-bottom: 40px;
}
.mobile-items:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-address-link {
}
.mobile-address-link.phone {
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-address-link.email {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 428px) {
  .mobile-address-link.phone {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
}

.mobile-menu-social {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: auto;
}

.mobile-socialmedias {
  display: flex;
  gap: 16px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.mobile-socialmedia-item {
  width: 40px;
  height: 40px;
}

.mobile-sm-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-sm-link:hover,
.mobile-sm-link:focus {
  background-color: #31d0aa;
}

.mobile-socialmedia-logo {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
